/// Example mixin
//
/// @example
/// a {
///   @include elio_button(12px);
/// }
//
/// /// a {
/// ///   background-color: red;
/// ///   border: red solid 1px;
/// ///   color: white;
/// ///   border-radius: 5px;
/// ///   display: inline-block;
/// ///   font-size: 12px;
/// ///   font-weight: 800;
/// ///   padding: 12px 3%;
/// ///   text-decoration: none;
/// ///   &:hover {
/// ///     background-color: white;
/// ///     color: red;
/// ///   }
/// /// }
@mixin elio_button($fz: 0, $bg: none, $fg: none, $bd: 0, $vp: 0, $hp: 0) {
  @include colorize_god($bg, $fg);
  border-radius: 5px;
  border: $bd;
  cursor: pointer;
  display: inline-block;
  @if not no_means_no($fz) {
    font-size: $fz;
  }
  @if not no_means_no($hp) {
    padding-left: $hp;
    padding-right: $hp;
  }
  @if not no_means_no($vp) {
    padding-bottom: $vp;
    padding-top: $vp;
  }
  text-decoration: none;

  > img {
    max-height: 88px;
    height: auto;
  }

  &:hover,
  &.selected,
  &.active {
    @include colorize_god($fg, $bg, $bd);
  }

  &:disabled {
    @include colorize_god($fg, $bg);
    cursor: not-allowed;
  }
}
