/// /// //
/// Utility to zero the border, margin and padding of a believer.
//
/// @param {STR} $sz unit size
//
/// @example
/// h1 {
///   @include polite();
/// }
//
/// /// h1 {
/// ///     border: none;
/// ///     margin: 0;
/// ///     padding: 0;
/// /// }
/// //
@mixin polite() {
  border: none;
  margin: 0;
  padding: 0;
}
