/// Wraps a block quote in speechmarks.
//
/// @param {STR} $sz unit size
//
/// @example
/// h1 {
///   @include quotation_marks(200px, blue, 30px);
/// }
//
/// /// h1 {
/// ///   quotes: '\201C''\201D''\2018''\2019';
/// ///   padding-top: 50px !important;
/// ///   padding-bottom: 100px !important;
/// //
/// ///   &:before {
/// ///     content: open-quote;
/// ///     color: blue;
/// ///     display: inline;
/// ///     font-size: 200px;
/// ///     height: 0;
/// ///     left: 30px;
/// ///     line-height: 0;
/// ///     position: relative;
/// ///     top: 100px;
/// ///   }
/// //
/// ///   &::after {
/// ///     content: close-quote;
/// ///     color: blue;
/// ///     display: inline;
/// ///     float: right;
/// ///     font-size: 200px;
/// ///     height: 0;
/// ///     line-height: 0;
/// ///     position: relative;
/// ///     right: 30px;
/// ///     top: 100px;
/// ///   }
/// /// }
@use "sass:math";

@mixin quotation_marks($quote-size, $fg, $space) {
  quotes: "\201C" "\201D" "\2018" "\2019";
  padding-top: math.div($quote-size, 8) !important;
  padding-bottom: math.div($quote-size, 2) !important;

  &:before {
    content: open-quote;
    color: $fg;
    display: inline;
    font-size: $quote-size;
    height: 0;
    left: $space;
    line-height: 0;
    position: relative;
    top: math.div($quote-size, 3);
  }

  &::after {
    content: close-quote;
    color: $fg;
    display: inline;
    float: right;
    font-size: $quote-size;
    height: 0;
    line-height: 0;
    position: relative;
    right: $space;
    top: math.div($quote-size, 3);
  }
}
