@import "../../stylesheets/mixins/quotation_marks";
@include test("@mixin quotation_marks()") {
  @include assert("Correctly place its parameters.") {
    @include output {
      @include quotation_marks(200px, blue, 30px);
    }
    @include expect {
      quotes: "\201C" "\201D" "\2018" "\2019";
      padding-top: 25px !important;
      padding-bottom: 100px !important;

      &:before {
        content: open-quote;
        color: blue;
        display: inline;
        font-size: 200px;
        height: 0;
        left: 30px;
        line-height: 0;
        position: relative;
        top: 66.6666666667px;
      }

      &::after {
        content: close-quote;
        color: blue;
        display: inline;
        float: right;
        font-size: 200px;
        height: 0;
        line-height: 0;
        position: relative;
        right: 30px;
        top: 66.6666666667px;
      }
    }
  }
}
