@import "../node_modules/@elioway/god/stylesheets/mixins";
@import "./eve";

body {
  @include fontize_god($god-body);
}

#{$container} {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include fontize_god($god-head);
  }
  @import "heaven";
  @import "hell";
  @import "h1/pillar";
  @import "h2/pillar";
  @import "h3/pillar";
  @import "h4/pillar";
  @import "footer/pillar";
  @import "blockquote/blockquote";
}
