footer {
  @include colorize_god(white, $hell-color);
  margin: 0;
  text-align: center !important;
  clear: both;
  @media screen and (max-width: $god-tight) {
    position: static !important;
    bottom: inherit !important;
    padding: $personal-space !important;
  }
}
